<div class="widget-container">
    <div class="widget green">
        <div class="icon">
            <fa-icon [icon]="faLocation"></fa-icon>
        </div>
        <div class="value">
            <div class="top">32</div>
            <div class="bottom">Locations</div>
        </div>
    </div>
    <div class="widget yellow">
        <div class="icon">
            <fa-icon [icon]="faShop"></fa-icon>
        </div>
        <div class="value">
            <div class="top">53</div>
            <div class="bottom">Shops</div>
        </div>
    </div>
    <div class="widget red">
        <div class="icon">
            <fa-icon [icon]="faBoxes"></fa-icon>
        </div>
        <div class="value">
            <div class="top">3712</div>
            <div class="bottom">Products sold</div>
        </div>
    </div>
    <div class="widget blue">
        <div class="icon">
            <fa-icon [icon]="faMoneyBillTrendUp"></fa-icon>
        </div>
        <div class="value">
            <div class="top">373801</div>
            <div class="bottom">USD in income</div>
        </div>
    </div>
</div>