<div class="widget-container">
    <div class="widget green">
        <div class="icon">
            <fa-icon [icon]="faBag"></fa-icon>
        </div>
        <div class="value">
            <div class="top">212</div>
            <div class="bottom">Активних замовлень</div>
        </div>
    </div>
    <div class="widget yellow">
        <div class="icon">
            <fa-icon [icon]="faCheck"></fa-icon>
        </div>
        <div class="value">
            <div class="top">1723</div>
            <div class="bottom">Замовлень виконано</div>
        </div>
    </div>
    <div class="widget red">
        <div class="icon">
            <fa-icon [icon]="faBoxes"></fa-icon>
        </div>
        <div class="value">
            <div class="top">3712</div>
            <div class="bottom">Товарів продано</div>
        </div>
    </div>
    <div class="widget blue">
        <div class="icon">
            <fa-icon [icon]="faMoneyBillTrendUp"></fa-icon>
        </div>
        <div class="value">
            <div class="top">3 373 801</div>
            <div class="bottom">ГРН доходу</div>
        </div>
    </div>
</div>