.top-section {
    margin: 10px 0;
}

.mid-section {
    display: flex;
    justify-content: space-between;

    .widget {
        height: 350px;
        background-color: #f2f2f2;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 5px 5px 5px #144E73;

        &.left {
            width: 54.7%;
        }

        &.right {
            width: 44.2%;
        }
    }
}

.bot-section {
    display: flex;
    justify-content: space-between;
    height: 450px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px #144E73;
}